:root {
  --color-ink100: #ffffff;
  --color-ink200: #f6f6f6;
  --color-ink300: #e6e6e6;
  --color-ink400: #b6b6b6;
  --color-ink500: #6a6a6a;
  --color-ink600: #4a4a4a;
  --color-ink700: #272722;
  --color-red: #ff5e56;
  --color-yellow: #febc2e;
  --color-green: #28c840;
  --color-blue: #0064e1;
  --color-skyblue: #6fcffb;
}
